.wraps{
  width:100%;
  height:100%;
  background:#fff;
  position:relative;
}
.CarouselWrap{
  :global{
    .slider .am-carousel{
      height:100px;
    }
  }
}

.cardList{
  :global{
    .am-card{
      box-shadow:0px 0px 10px 0px rgba(0,0,0,0.1)
    }
  }
}
