.MainTitle{
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  top:40px;
  margin-bottom:10px;
}
.verticalMark{
  width:6px;
  height:20px;
  border-radius: 3px;
  background-color:#0070F5;
  float:left;
}
.titles{
  width:calc(100% - 20px);
  height:20px;
  line-height: 21px;
  float:left;
  margin-left:5px;
  font-weight: 800;
  font-size:1.1em;
}
