.StepsInfo{
  :global{
    .am-steps-item-icon {
      border: 0;
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 22px;
      text-align: center;
      font-size: 14px;
      margin-right: 8px;
      transition: background-color 0.3s, border-color 0.3s;
    }
    .am-steps-item-custom.am-steps-item-process .am-steps-item-icon > .am-steps-icon {
      color: #fff;
    }
    .am-steps-item-icon > .am-steps-icon {
      line-height: 1;
      top: -1px;
      color: #fff;
      position: relative;
    }
  }
}
